<nav link="historical"></nav>
<div id="historical" class="">
  <div class="col-xs-12" ng-repeat="wrapper in wrappers">
    <historicalwrapper wrapper="wrapper"></historicalwrapper>
  </div>
  <div class="col-xs-12">
    <div class="pull-right" style="padding-right: 10px;">
      <button type="button" class="btn btn-primary"
        ng-click="addWrapper()">
        <i class="glyphicon glyphicon-plus"></i>
        Add <span ng-show="wrappers.length">another</span> historical view
      </button>
    </div>
  </div>
</div>
