<nav link="performance"></nav>
<div id="performance" class="">
  <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 leftwidgets">
    <div class="mediumwidget col-xs-12">
      <h4 class="title">Current Billing Period</h4>
      <h3 class="maincontent capitalize">{{data.billing_period}}</h3>
      <h4 class="time">{{data.billingPeriodStartDate | date:'MMM d'}} -
        {{data.billingPeriodEndDate | date:'MMM d, yyyy'}}</h4>
    </div>
    <div class="mediumwidget col-xs-12">
      <h4 class="title">Current Season</h4>
      <h3 class="maincontent capitalize">{{data.season}}</h3>
      <h4 class="time">{{data.seasonStartDate | date:'MMM d'}} -
        {{data.seasonEndDate | date:'MMM d'}}</h4>
    </div>
    <div class="mediumwidget col-xs-12">
      <h4 class="title">Rate Tariff</h4>
      <h3 class="maincontent">{{data.rate_tariff}}</h3>
    </div>
  </div>
  <div class="hidden-xs col-sm-7 col-md-8 col-lg-9">
    <div class="col-xs-12" class="chartcontainer" ng-show="!loading && nodata"
      <center><h2> No Data Available</h2></center>
    </div>
    <div class="col-xs-12" class="chartcontainer" ng-show="loading && !nodata"
      style="padding: 100px 0">
      <center><img src="images/loader.gif" width="100" height="100"></center>
    </div>
    <div class="col-xs-12" class="chartcontainer" ng-show="!loading && !nodata">
      <performancegraph data="graphData" dataupdated="{{dataUpdated}}" tariff="data"></performancegraph>
    </div>
  </div>
</div>
