<nav link="powerview"></nav>
<div id="powerview" class="">
  <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 leftwidgets">
    <div class="mediumwidget col-xs-12">
      <h4 class="title">Current Time and Date
        <a popover-placement="right" popover="{{titleTooltip}}" >
          <i class="glyphicon glyphicon-info-sign"></i></a>
      </h4>
      <h3 class="maincontent capitalize">{{lastTime | date:'h:mm a'}}</h3>
      <h4 class="time">{{lastTime | date:'MMMM d, yyyy'}}</h4>
    </div>
    <div class="mediumwidget col-xs-12">
      <h4 class="title">Current Billing Period
        <a popover-placement="right" popover="{{titleTooltip}}" >
          <i class="glyphicon glyphicon-info-sign"></i></a>
      </h4>
      <h3 class="maincontent capitalize">{{data.billing_period | fullmonth}}</h3>
      <h4 class="time">{{data.billingPeriodStartDate | date:'MMM d'}} -
        {{data.billingPeriodEndDate | date:'MMM d, yyyy'}}</h4>
    </div>
    <div class="mediumwidget col-xs-12">
      <h4 class="title">Current Season
        <a popover-placement="right" popover="{{titleTooltip}}" >
          <i class="glyphicon glyphicon-info-sign"></i></a>
      </h4>
      <h3 class="maincontent capitalize">{{data.season}}</h3>
      <h4 class="time">{{data.seasonStartDate | date:'MMMM d'}} -
        {{data.seasonEndDate | date:'MMMM d'}}</h4>
    </div>
    <div class="mediumwidget col-xs-12">
      <h4 class="title">Current Period
        <a popover-placement="right" popover='
          You are on a time-of-use (TOU) rate tariff.  This is the current TOU
          period and how long it lasts.  Your rate tariff has "On Peak" and "Off
          Peak" in the summer months, and "Partial Peak" and "Off Peak" in the
          winter months.
          '>
          <i class="glyphicon glyphicon-info-sign"></i></a>
      </h4>
      <h3 class="maincontent capitalize">{{data.peak_period | peak}}</h3>
      <h4 class="time">{{data.peakStart}} - {{data.peakEnd}}</h4>
    </div>
    <div class="smallwidget col-xs-12">
      <h4 class="title">Current Energy Charge
        <a popover-placement="right" popover="
          You pay different rates depending on the current time period. This is
          your real-time energy charge per kWh.
          " >
          <i class="glyphicon glyphicon-info-sign"></i></a>
      </h4>
      <h3 class="maincontent">$ {{data.energy_charge}} / kWh</h3>
    </div>
    <div class="smallwidget col-xs-12">
      <h4 class="title">Current Demand Charges
        <a popover-placement="right" popover="{{demandChargesTooltip}}" >
          <i class="glyphicon glyphicon-info-sign"></i></a>
      </h4>
      <h3 class="maincontent">$ {{data.demandCharge}} / kW</h3>
    </div>
  </div>
  <div class="hidden-xs col-sm-7 col-md-8 col-lg-9">
    <div class="col-xs-12 loadergif" ng-if="loading && !nodata">
      <center><img src="images/loader.gif" width="100" height="100"></center>
    </div>
    <div class="col-xs-12 chartcontainer" ng-if="nodata"
      style="padding: 100px 0">
      <center><h2> No Data Available</h2></center>
    </div>
    <div class="col-xs-12 chartcontainer" ng-if="!loading && !nodata">
      <powergraph data="graphdata" max-demand="{{data.max_demand}}"
      dataupdated="{{dataUpdated}}"></powergraph>
    </div>
    <div class="col-xs-12 timeselectors">
      <a href="javascript:;" ng-click="setTimeFrame('5m')" ng-class="{'selected': timeframe=='5m'}"> 5 min </a> |
      <a href="javascript:;" ng-click="setTimeFrame('30m')" ng-class="{'selected': timeframe=='30m'}"> 30 min </a> |
      <a href="javascript:;" ng-click="setTimeFrame('2h')" ng-class="{'selected': timeframe=='2h'}"> 2 hours </a> |
      <a href="javascript:;" ng-click="setTimeFrame('8h')" ng-class="{'selected': timeframe=='8h'}"> 8 hours </a> |
      <a href="javascript:;" ng-click="setTimeFrame('24h')" ng-class="{'selected': timeframe=='24h'}"> 24 hours </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 largewidget">
      <h4 class="title" style="display: inline-block">Current Demand
      <h6 style="display: inline-block; margin-top: 0; vertical-align: top;">
        <a popover-placement="top" popover="This is your average net
          kW demand in the current 15 minute period.  Your utility used
          15-minute averages to record your kW demand." >
          <i class="glyphicon glyphicon-info-sign"></i></a>
      </h6>
      </h4>
      <h3 class="maincontent">{{data.current_demand | number:0}} <small>kW</small></h3>
      <h4 class="time">{{data.currentDemandStartDate | date:'h:mm'}} - {{data.currentDemandEndDate | date:'h:mm a'}}</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 largewidget">
      <h4 class="title" style="display: inline-block">{{maxDemandTitle}}
      </h4>
      <h6 style="display: inline-block; margin-top: 0; vertical-align: top;">
        <a popover-placement="top" popover="{{maxDemandDescription}}" >
          <i class="glyphicon glyphicon-info-sign"></i></a>
      </h6>
      <h3 class="maincontent">{{data.max_demand | number:0}} <small>kW</small></h3>
      <h4 class="time">{{data.maxDemandStartDate | date:'fullDate'}}<br/>
        {{data.maxDemandStartDate | date:'h:mm'}} - {{data.maxDemandEndDate | date:'h:mm a'}}</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 largewidget">
      <h4 class="title">Current Power Quality</h4>
      <h3 class="time col-xs-6 pull-left">Power Factor</h3>
      <h3 class="maincontent col-xs-6 pull-right">{{data.power_factor}}</h3>
      <h3 class="time col-xs-6 pull-left">Voltage</h3>
      <h3 class="maincontent col-xs-6 pull-right">{{data.voltage}}</h3>
    </div>
  </div>
</div>
