<nav link="settings"></nav>

<div class="" id="settings">

  <!--<div class="col-xs-12 col-md-6">-->
  <div class="col-xs-12 col-md-12">

    <div class="alert alert-danger col-xs-12" role="alert" ng-show="error"
      ng-animate="{show: 'fadeIn', hide:'fadeOut'}">{{error}}</div>

    <div class="alert alert-success col-xs-12" role="alert" ng-show="success"
      ng-animate="{show: 'fadeIn', hide:'fadeOut'}">{{success}}</div>

    <div class="security col-xs-12">

      <div class="col-xs-12 title">
        <h3> Security </h3>
      </div>
      <div class="col-xs-12 inlinecontainer">
        <form class="form-inline" role="form">
          <div class="form-group col-xs-4">
            <label for="facility">Facility name</label>
          </div>
          <div class="form-group col-xs-8">
            <input type="text" class="form-control" id="facility"
            placeholder="Facility name" ng-model="settings.facility_name">
          </div>
        </form>
      </div>
      <div class="col-xs-12 inlinecontainer">
        <form class="form-inline" role="form">
          <div class="form-group col-xs-4">
            <label for="username">Username</label>
          </div>
          <div class="form-group col-xs-8">
            <input type="text" class="form-control" id="username"
            placeholder="Username" ng-model="settings.name" disabled>
          </div>
        </form>
      </div>

      <div class="col-xs-12 inlinecontainer">
        <form class="form-inline" role="form">
          <div class="form-group col-xs-4">
            <label for="password">Password</label>
          </div>
          <div class="form-group col-xs-8">
            <input type="password" class="form-control" id="password"
            ng-model="settings.password" ng-change="typing()">
          </div>
        </form>
      </div>

      <div class="col-xs-12 inlinecontainer">
        <form class="form-inline" role="form">
          <div class="form-group col-xs-4">
            <label for="cpassword">Confirm Password</label>
          </div>
          <div class="form-group col-xs-8">
            <input type="password" class="form-control" id="cpassword"
            ng-model="settings.cpassword" ng-change="typing()">
          </div>
        </form>
      </div>

      <div class="col-xs-12 inlinecontainer">
        <button class="btn btn-danger pull-left" ng-click="cancel()">
          <i class="glyphicon glyphicon-remove"></i>
          Cancel
        </button>
        <button class="btn btn-success pull-right" ng-click="save()">
          <i class="glyphicon glyphicon-ok"></i>
          Save
        </button>
      </div>

    </div>
  </div>

  <div class="col-xs-12 col-md-6" style="display: none">
    <div class="tarrif col-xs-12">
      <div class="col-xs-12 title">
        <h3> Historical </h3>
      </div>

      <div class="col-xs-12 inlinecontainer">
        <form class="form-inline" role="form">
          <div class="form-group col-xs-5">
            <label for="bill">Bill Month/Year</label>
          </div>
          <div class="form-group col-xs-7">
            <input type="text" class="form-control" id="bill"
            placeholder="MM/YY" ng-model="bill">
          </div>
        </form>
      </div>

      <div class="col-xs-12 inlinecontainer">
        <form class="form-inline" role="form">
          <div class="form-group col-xs-5">
            <label for="energy">Total Energy Charges</label>
          </div>
          <div class="form-group col-xs-7">
            <input type="text" class="form-control" id="energy"
            placeholder="AG-5E" ng-model="energy">
          </div>
        </form>
      </div>

      <div class="col-xs-12 inlinecontainer">
        <form class="form-inline" role="form">
          <div class="form-group col-xs-5">
            <label for="demand">Total Demand Charges</label>
          </div>
          <div class="form-group col-xs-7">
            <input type="text" class="form-control" id="demand"
            placeholder="AG-5E" ng-model="demand">
          </div>
        </form>
      </div>

      <div class="col-xs-12 inlinecontainer">
        <button class="btn btn-danger pull-left" ng-click="">
          <i class="glyphicon glyphicon-remove"></i>
          Cancel
        </button>
        <button class="btn btn-success pull-right" ng-click="">
          <i class="glyphicon glyphicon-ok"></i>
          Save
        </button>
      </div>

    </div>
  </div>
</div>

