<div class="diagnosiswrapper col-xs-12">
  <!-- Date Picking -->
  <div class="col-xs-12">

    <form class="form-inline" role="form" name="datepicking">

      <div class="form-group">
        <label class="sr-only" for="from"> From </label>
        <p class="input-group">

        <input type="text" class="form-control frompicker" datepicker-popup="{{format}}"
        ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'"
        datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
        ng-required="true" close-text="Close" />

        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
      </div>
      <div class="form-group">
        <label class="sr-only" for="to"> To </label>
        <p class="input-group">

        <input type="text" class="form-control topicker" datepicker-popup="{{format}}"
        ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'"
        datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
        ng-required="true" close-text="Close" />

        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
      </div>

    </form>
  </div>

  <div class="col-xs-12" class="chartcontainer" ng-show="loading && !nodata"
    style="padding: 100px 0">
    <center><img src="images/loader.gif" width="100" height="100"></center>
  </div>

  <div class="col-xs-12" class="chartcontainer" ng-show="nodata"
    style="padding: 100px 0">
    <center><h2> No Data Available</h2></center>
  </div>

  <div class="col-xs-12" class="chartcontainer" ng-show="!loading && !nodata">
      <powergraph data="graphdata" max-demand="{{data.max_demand}}"
      dataupdated="{{dataUpdated}}"></powergraph>
  </div>

  <div class="col-xs-12" class="timeselectors" ng-show="falseValue">
    <a href="javascript:;" ng-click="setGraph('consumption')"
      ng-class="{'selected': graph=='consumption'}"> kW / kWh </a> |
    <a href="javascript:;" ng-click="setGraph('powerfactor')"
      ng-class="{'selected': graph=='powerfactor'}"> Power Factor </a> |
    <a href="javascript:;" ng-click="setGraph('voltage')"
      ng-class="{'selected': graph=='voltage'}"> Voltage </a>
  </div>

</div>
