<div class="historicalwrapper col-xs-12">
  <!-- Date Picking -->
  <div class="col-xs-12">

    <form class="form-inline" role="form" name="datepicking">

      <div class="form-group col-xs-12 col-sm-6 col-lg-4">
        <label for="from"> From </label>
        <p class="input-group col-xs-10 pull-right">

        <input type="text" class="form-control frompicker" ng-model="wrapper.start"
        datepicker-options="dateOptions" is-open="isOpen.start"
        max-date="wrapper.end" datepicker-popup="{{format}}" close-text="Close" />

        <span class="input-group-btn">
          <button type="button" class="btn btn-default"
            ng-click="open($event, 'start')">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
        </p>
      </div>

      <div class="form-group col-xs-12 col-sm-6 col-lg-4">
        <label for="to"> To </label>
        <p class="input-group col-xs-10 pull-right">

        <input type="text" class="form-control topicker" ng-model="wrapper.end"
        datepicker-options="dateOptions" is-open="isOpen.end"
        min-date="wrapper.start" datepicker-popup="{{format}}" close-text="Close"/>

        <span class="input-group-btn">
          <button type="button" class="btn btn-default"
            ng-click="open($event, 'end')">
            <i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
      </div>

    </form>
  </div>

  <div class="col-xs-12" class="chartcontainer" ng-show="loading && !nodata"
    style="padding: 100px 0">
    <center><img src="images/loader.gif" width="100" height="100"></center>
  </div>

  <div class="col-xs-12" class="chartcontainer" ng-show="nodata"
    style="padding: 100px 0">
    <center><h2> No Data Available</h2></center>
  </div>

  <div class="col-xs-12" class="chartcontainer" ng-show="!loading && !nodata">
      <powergraph data="graphdata" max-demand="{{data.max_demand}}"
      dataupdated="{{dataUpdated}}"></powergraph>
  </div>

  <div class="col-xs-12" class="timeselectors" ng-show="falseValue">
    <a href="javascript:;" ng-click="setGraph('consumption')"
      ng-class="{'selected': graph=='consumption'}"> kW / kWh </a> |
    <a href="javascript:;" ng-click="setGraph('powerfactor')"
      ng-class="{'selected': graph=='powerfactor'}"> Power Factor </a> |
    <a href="javascript:;" ng-click="setGraph('voltage')"
      ng-class="{'selected': graph=='voltage'}"> Voltage </a>
  </div>

</div>
