<div class="powerviewgraphwrapper">
  <div class="tooltip" ng-show="lastPoint">
    <div class="title"> {{lastPoint.time | date:'h:mm:ss a'}} </div>
    <div class="body">

      <div class="entry facility">
        <span class="key"> Facility </span>
        <span class="value darkerBlue"> {{lastPoint.P | number:0}} kW</span>
      </div>

      <div class="entry solar">
        <span class="key"> Solar </span>
        <span class="value"> {{lastPoint.S | number:0}} kW</span>
      </div>

      <div class="entry netdemand">
        <span class="key"> Net Demand </span>
        <span class="value darkerBlue"> {{lastPoint.net | number:0}} kW</span>
      </div>

      <div class="entry">
        <span class="key"> Power Factor </span>
        <span class="value"> {{lastPoint.L1_PF | number:2}} </span>
      </div>

      <div class="entry">
        <span class="key"> Voltage </span>
        <span class="value"> {{lastPoint.L1_V | number:0}} V</span>
      </div>

    </div>

  </div>
  <div class="powerviewgraph" style="height: 500px">
  </div>
</div>
