/* Space out content a bit */
/*@main: #B9E3E3;*/
/*@lightBlue: rgb(179, 204, 253);*/
body {
  font-family: "Open Sans", sans-serif;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ececec;
}
.darkRed {
  color: #800000;
}
.lightRed {
  color: #e85600;
}
.darkGreen {
  color: #008000;
}
.lightGreen {
  color: #56e800;
}
.darkBlue {
  color: #05b3d1;
}
.lightBlue {
  color: #05b3d1;
}
.darkerBlue {
  color: #256188;
}
.lightYellow {
  color: #f9ff33;
}
.darkYellow {
  color: #edf500;
}
.tooltip {
  width: 250px;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", sans-serif;
}
/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  padding: 20px;
  /*background-color: rgb(222, 219, 203);*/
  background-color: #dedbcb;
}
.header .logo {
  display: inline-block;
  margin-top: 5px;
}
#main .fadeIn-setup,
#main .fadeOut-setup {
  -webkit-transition: 1s linear opacity;
  -moz-transition: 1s linear opacity;
  -o-transition: 1s linear opacity;
  transition: 1s linear opacity;
}
#main .fadeIn-setup {
  opacity: 0;
}
#main .fadeOut-setup {
  opacity: 1;
}
#main .fadeIn-setup.fadeIn-start {
  opacity: 1;
}
#main .fadeOut-setup.fadeOut-start {
  opacity: 0;
}
#main .logincontainer {
  background-color: #fbfcfc;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 4px;
  margin-top: 10%;
}
#main .logincontainer h2 {
  margin: 10% 0;
  color: #4d7f1d;
}
#main .logincontainer .form-group.buttons button {
  padding-left: 20px;
  padding-right: 20px;
}
.mediumwidget,
.smallwidget,
.largewidget {
  border-bottom: 1px solid black;
  padding: 10px 5px;
}
.mediumwidget .title,
.smallwidget .title,
.largewidget .title {
  margin: 5px auto;
  font-size: 12px;
  font-weight: normal;
  color: #7e7e7e;
}
.mediumwidget .maincontent,
.smallwidget .maincontent,
.largewidget .maincontent {
  margin: 5px auto;
  font-size: 18px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.mediumwidget .time,
.smallwidget .time,
.largewidget .time {
  color: #7e7e7e;
  margin: 5px auto;
  font-size: 12px;
  font-weight: normal;
}
.largewidget {
  border-bottom: 0;
  text-align: center;
}
.largewidget .title {
  font-size: 24px;
}
.largewidget .maincontent {
  font-size: 18px;
}
.largewidget .time {
  font-size: 14px;
}
.leftwidgets {
  padding: 20px;
  padding-left: 35px;
}
.leftwidgets a:hover {
  text-decoration: none;
}
.whitecontainer {
  background-color: #fbfcfc;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 4px;
}
.graph {
  min-height: 500px;
  background-color: #fbfcfc;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 4px;
}
.graph .chartcontainer {
  padding: 10px;
  padding-bottom: 0;
}
.graph .loadergif {
  position: absolute;
  vertical-align: middle;
  text-align: center;
  padding-top: 100px;
}
.graph .loadergif img {
  width: 100px;
  height: 100px;
}
#alerts .inlinecontainer {
  margin: 5px auto;
}
#alerts .inlinecontainer .form-inline {
  display: inline-block;
  width: 120px;
}
#alerts .inlinecontainer .form-inline input {
  height: 26px;
  padding: 1px 12px;
}
#settings {
  padding-top: 5%;
}
#settings .inlinecontainer {
  margin: 5px auto;
}
#settings .inlinecontainer label {
  min-width: 100px;
}
.powerviewgraphwrapper .powerviewgraph svg {
  font: 10px sans-serif;
}
.powerviewgraphwrapper .powerviewgraph svg line,
.powerviewgraphwrapper .powerviewgraph svg path {
  stroke: #918d76;
  stroke-width: 1px;
  shape-rendering: crispedges;
  fill: none;
}
.powerviewgraphwrapper .powerviewgraph svg * {
  pointer-events: none;
}
.powerviewgraphwrapper .powerviewgraph svg rect.mouserect {
  pointer-events: all;
}
.powerviewgraphwrapper .powerviewgraph svg .lineHover {
  /*stroke: #e5e5e5;*/
  stroke: #dedbcb;
  stroke-width: 1.5px;
  pointer-events: none;
}
.powerviewgraphwrapper .powerviewgraph svg text.title,
.powerviewgraphwrapper .powerviewgraph svg text.maxdemand {
  text-anchor: end;
  /*fill: #777;*/
  fill: #917e8c;
}
.powerviewgraphwrapper .powerviewgraph svg line.maxdemand {
  stroke-dasharray: 5,5;
  stroke: #e85600;
}
.powerviewgraphwrapper .powerviewgraph svg .lines path.lineSolar {
  stroke: #256188;
  stroke-width: 1px;
}
.powerviewgraphwrapper .powerviewgraph svg .lines path.linePower {
  stroke: #256188;
  stroke-dasharray: 5,3;
  stroke-width: 2px;
}
.powerviewgraphwrapper .powerviewgraph svg .lines path.area {
  stroke-width: 0;
  fill: #f7ff00;
}
.powerviewgraphwrapper .powerviewgraph svg .powerFactorLines path.linePF,
.powerviewgraphwrapper .powerviewgraph svg .voltageLines path.linePF {
  fill: none;
  shape-rendering: crispedges;
  stroke-width: 1px;
  /*stroke: #222;*/
  stroke: #dedbcb;
}
.powerviewgraphwrapper .powerviewgraph svg .tick line {
  stroke-width: 0;
}
.powerviewgraphwrapper .powerviewgraph svg .y.axis .tick line {
  stroke: #f2f1ea;
  stroke-width: 1px;
  pointer-events: none;
}
.powerviewgraphwrapper div.tooltip {
  border: 1px solid #222;
  opacity: 0.7;
  border-radius: 4px;
  min-width: 100px;
  text-align: left;
  width: auto;
  height: auto;
  min-width: 150px;
  border: 1px solid #bbbbbb;
  color: black;
  background-color: white;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.powerviewgraphwrapper div.tooltip .title {
  font-weight: bold;
  text-align: center;
}
.powerviewgraphwrapper div.tooltip .body .entry {
  margin-bottom: 5px;
  margin-top: 5px;
}
.powerviewgraphwrapper div.tooltip .body .entry .value {
  float: right;
  font-weight: bolder;
}
.powerviewgraphwrapper div.tooltip .body .entry.facility {
  border-bottom: 2px dashed #256188;
}
.powerviewgraphwrapper div.tooltip .body .entry.solar {
  background-color: #f9ff33;
  color: #8a8f00;
}
.powerviewgraphwrapper div.tooltip .body .entry.netdemand {
  border-bottom: 1px solid #256188;
}
.timeselectors a.selected {
  color: green !important;
}
#performance a.selected {
  color: green;
}
#performance div.tooltip {
  border: 1px solid #222;
  opacity: 0.7;
  border-radius: 4px;
  min-width: 100px;
  text-align: left;
  width: auto;
  height: auto;
  min-width: 150px;
  border: 1px solid #bbbbbb;
  color: black;
  background-color: white;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
#performance div.tooltip .title {
  font-weight: bold;
  text-align: center;
}
#performance div.tooltip .body .entry .value {
  float: right;
  font-weight: bolder;
}
#performance svg {
  font: 10px sans-serif;
}
#performance svg line,
#performance svg path {
  /*stroke: #222;*/
  stroke: #918d76;
  stroke-width: 1px;
  shape-rendering: crispedges;
  fill: none;
}
#performance svg * {
  pointer-events: none;
}
#performance svg g text {
  text-anchor: middle;
}
#performance svg g.demand rect {
  fill: #05b3d1;
  stroke: #049eb8;
}
#performance svg g.energy rect {
  fill: #008000;
  stroke: #006700;
}
#performance svg g.solar rect {
  fill: #edf500;
  stroke: #d4db00;
}
#performance svg g.total {
  /*sub rectangles*/
}
#performance svg g.total rect.solar {
  fill: #edf500;
  stroke: #d4db00;
}
#performance svg g.total rect.energy {
  fill: #008000;
  stroke: #006700;
}
#performance svg g.total rect.demand {
  fill: #05b3d1;
  stroke: #049eb8;
}
#performance svg g text {
  text-anchor: middle;
}
#performance svg g text.title {
  font-size: 18px;
}
#performance svg g text.units {
  font-size: 14px;
}
#performance svg g .arrow {
  stroke: none;
  stroke-width: 1px;
}
#performance svg g .arrow.green {
  fill: #008000;
  stroke: #009a00;
}
#performance svg g .arrow.red {
  fill: #800000;
  stroke: #9a0000;
}
#performance svg g .monthAnalysis,
#performance svg g .yearAnalysis {
  font-size: 10px;
  fill: #05b3d1;
  stroke: #05b3d1;
}
#performance svg g .monthAnalysis .percent.red,
#performance svg g .yearAnalysis .percent.red,
#performance svg g .monthAnalysis .value.red,
#performance svg g .yearAnalysis .value.red {
  stroke: #800000;
  fill: none;
}
#performance svg g .monthAnalysis .percent.green,
#performance svg g .yearAnalysis .percent.green,
#performance svg g .monthAnalysis .value.green,
#performance svg g .yearAnalysis .value.green {
  stroke: #008000;
  fill: none;
}
#historical {
  padding-top: 10px;
}
#historical .historicalwrapper .settings {
  padding-top: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
